extends head

block content
  .center
    .inputs(style="margin-top: 250px;")
      h3 Enter Message to be Converted
      input(type='text' class="input convert-text")
      br
      a(class="submit hvr-icon-spin convert-button") Convert
      .results